
@using SignalR_Demo.Models

@model Article
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { id = "Article" }))
{
    <div class="row">
        <div class="col-6">
            Article Heading
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.articleHeading, new { @maxlength = "50" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            Article Content
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.articleContent, new { @maxlength = "100" })
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="float:right;">Send to All</button>
    </div>
}