@{
    ViewData["Title"] = "Home Page";

}
    <style>
        #articleList div {
            text-align: left;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }

            #articleList div h3 {
                margin-bottom: 5px;
            }

            #articleList div p {
                margin-bottom: 5px;
            }
    </style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="user"></p>
    <div id="articleList"></div>
</div>
<script>
    function ready() {

    }
    //random number between 1 and 100 for demo
    var userId = Math.floor((Math.random() * 100) + 1);
    document.addEventListener("DOMContentLoaded", ready);

    document.getElementById("user").innerHTML = "UserId: " + userId;
</script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/notification.js"></script>